aiofiles==0.4.0
blinker==1.4
Click==7.0
h11==0.9.0
h2==3.1.0
hpack==3.0.0
Hypercorn==0.6.0
hyperframe==5.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
multidict==4.5.2
pkg-resources==0.0.0
pytoml==0.1.20
Quart==0.9.1
sortedcontainers==2.1.0
typing-extensions==3.7.2
websockets==7.0
wsproto==0.14.0
aiofiles==0.4.0
backcall==0.1.0
blinker==1.4
Click==7.0
decorator==4.4.0
h11==0.9.0
h2==3.1.0
hpack==3.0.0
Hypercorn==0.6.0
hyperframe==5.2.0
ipython==7.5.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10.1
MarkupSafe==1.1.1
multidict==4.5.2
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
Pygments==2.4.2
pytoml==0.1.20
Quart==0.9.1
six==1.12.0
sortedcontainers==2.1.0
traitlets==4.3.2
typing-extensions==3.7.2
wcwidth==0.1.7
websockets==7.0
wsproto==0.14.0
